.website-title { font-family: 'Permanent Marker'; font-size: 2em; }


.navbar { height : 5rem; border-radius: 0px 0px 3px 3px; }	
	.navbar-brand {
		position : absolute;
		right : 50%;
		transform: translateX(50%);
	}
	@media screen and (max-width: 658px) {
	.navbar-brand {
		display: block;
	  font-size: 1em;
	  width: 60%;
	  right: 3%;
	  transform: none;

	}

  }

  	@media screen and (min-width: 600px) and (max-width: 992px) {
	.navbar-brand {
	  display: none;

	}
	
  }
	.nav-icon { font-size : 2em; }




.product-list {
	background-color: #f9f9f9;
}
	.product-list-product-jumbotron {
		background-color: white !important;
		width: 100% !important;
		transition: transform .07s;
	}
	.product-list-product-jumbotron:hover {
		cursor: pointer;
		transform: scale(1.2);
	}
	.product-list-product-img {
		display: block;
		width: 10em; 
		margin : 0 auto;
	}
	.product-list-product-price { text-align : center; }
	.product-list-product-title { text-align: center;}


.product-unique-img-block { width: 150px; }


.img-zoom-container {
	position: relative;
	height : 600px;
	width: 400px;
}
	.img-zoom-result {
		display : none;
		position : absolute;
  		border: 1px solid #d4d4d4;
  		/*set the size of the result div:*/
 		width: 250px;
		height: 250px;
		left : 50%;
		transform: translateX(-50%);
		bottom : 0px;
	}
	#zoom-image {
		position : absolute;
		height : 600px;
		width: 400px;
	}
	#img-zoom-lens {
		position: absolute;
  		border: 1px solid #d4d4d4;
  	/*set the size of the lens:*/
  		width: 40px;
		height: 40px;
	}


.cart-product-img { display: block; width : 80px; height:100px; }

.footer {
	
	background-color : #dddddd !important;
	padding: 0;
}
.footer-jumbotron {
	width: 100%;
	background-color : #dddddd !important;
	height : 100% !important;
}
.footer-social-media .fa { color : white; font-size : 2em; }

@media screen and (max-width: 600px) {
	.navbar {
	  height : auto;
	}
  }